body {
  background-color: white;
}

h1 {
  font-family:sans-serif;
  letter-spacing:-1px;
  font-size:40px;
  position:center;
  font-weight: bold;
  margin: 15px;

}

table, tr, td {
  border: 1px solid black;
  border-spacing: 2px;
  border-color: gray;
  border-collapse: collapse;
  margin-left: 15px;
}

tr {
  height:25px;
}

td {
  width:25px;
}

body {
  font-family:sans-serif;
}

#player-container {
  display: inline-block;
}

#player-board {
  width: 350px;
  float: left;
}



#player-text {
  width: 150px;
  float: right;
  margin-left: 100px;
}

#opponent-board {
  display: block;
}

.hitship {
  bgcolor:red;
}

#hitship{
  bgcolor:red;
}