body {
  background-color: white;
}

h1 {
  font-family:sans-serif;
  letter-spacing:-1px;
  font-size:40px;
  position:center;
  font-weight: bold;

}

table, tr, td {
  border: 1px solid black;
  border-spacing: 2px;
  border-color: gray;
  border-collapse: collapse;
}

tr {
  height:25px;
}

td {
  width:25px;
}

body {
  font-family:sans-serif;
}

#player-container {
  position: relative;
  background-color: gray;
}
#player-board {
  background-color: orange;
  width: 600px;


}



#player-text {
  background-color: red;
  width: 400px;
  display: inline;

}

#opponent-board {
  display: block;
  background-color: yellow;
}