<!DOCTYPE html>
<html>
  <head>
    <title>
      BattleGeeks
    </title>
    <meta http-equiv="refresh" content="3">
    <link rel="stylesheet" type="text/css" href="css/battleships.css">

  </head>
  <body>
    <h1> BATTLESHIPS </h1> 

    <%= yield %>

  </body>
</html>
