<!DOCTYPE html>
<html>
  <head>
    <title>
      BattleGeeks
    </title>
    <link rel="stylesheet" type="text/css" href="css/battleships.css">
    <% if !GAME.ready? || @player != GAME.turn  %>
      <meta http-equiv="refresh" content="3">
    <% else %>
    <% end %>
    

  </head>
  <body>
    <h1> BATTLESHIPS </h1> 

    <%= yield %>

  </body>
</html>
