Please enter the coordinates and orientation of the ships you want to place.
<p>

<form method='post' action='/waiting'>
Ship One: <select name="ship_one_orientation">
            <option value="vertical">vertical</option>
            <option value="horizontal">horizontal</option>
          </select>
          <select name="ship_one_xaxis">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
          </select>          
          <select name="ship_one_yaxis">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <p>
Ship Two: <select name="ship_two_orientation">
            <option value="vertical">vertical</option>
            <option value="horizontal">horizontal</option>
          </select>
          <select name="ship_two_xaxis">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
          </select>          
          <select name="ship_two_yaxis">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
            <option value="eight">8</option>
            <option value="nine">9</option>
            <option value="ten">10</option>
          </select>
          <p>
Ship Three: <select name="ship_three_orientation">
            <option value="vertical">vertical</option>
            <option value="horizontal">horizontal</option>
          </select>
          <select name="ship_three_xaxis">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
          </select>          
          <select name="ship_three_yaxis">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
            <option value="eight">8</option>
            <option value="nine">9</option>
            <option value="ten">10</option>
          </select>
          <p>
Ship Four: <select name="ship_four_orientation">
            <option value="vertical">vertical</option>
            <option value="horizontal">horizontal</option>
          </select>
          <select name="ship_four_xaxis">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
          </select>          
          <select name="ship_four_yaxis">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
            <option value="eight">8</option>
            <option value="nine">9</option>
            <option value="ten">10</option>
          </select>
          <p>
Ship Five: <select name="ship_five_orientation">
            <option value="vertical">vertical</option>
            <option value="horizontal">horizontal</option>
          </select>
          <select name="ship_five_xaxis">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
          </select>          
          <select name="ship_five_yaxis">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
            <option value="eight">8</option>
            <option value="nine">9</option>
            <option value="ten">10</option>
          </select>
          <p>
          <p>
      <input type="submit" value="Place Ships">
</form>
