Play Game

<table style="border:1px;">
  <tr>
    <th></th>
    <% letter = "A" %>
    <% 10.times do %>
    <th><%= letter %></th>
    <% letter = letter.next %>
    <% end %>
  </tr>
    
</table>

